.headerGlobalContainer {
    width: 100%;
    margin-bottom: 1.5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    place-items: center;
}

/* "Pokemon" Logo */
.headerGlobalContainer>svg:nth-child(1) {
    color: var(--Main-Pokemon-Logo);
}

/* "Dark Mode" icon */
.headerGlobalContainer>svg:nth-child(2) {
    margin-right: 4.5rem;

    place-self: end;
    align-self: center;

    cursor: pointer;
    transition: .2s;
}

.headerGlobalContainer>svg:nth-child(2):hover {
    fill: var(--Main-Pokemon-Logo);
}

/* *** Media Queries - Responsive CSS *** */
@media (max-width:768px) and (orientation: landscape) {
    .headerGlobalContainer>svg:nth-child(1) {
        margin-left: 8rem;
        place-self: start;
        align-self: center;
    }

    .headerGlobalContainer>svg:nth-child(2) {
        margin-right: 6.5rem;
    }
}

/* iPads/Tablets */
@media (min-width: 768px) {
    .headerGlobalContainer>svg:nth-child(1) {
        margin-left: 8rem;
        place-self: start;
        align-self: center;
    }

    .headerGlobalContainer>svg:nth-child(2) {
        margin-right: 6.5rem;
    }
}