:root {
  /* ***** Primary Colors ***** */
  --Page-Light: rgb(243, 243, 243);
  --Main-Pokemon-Logo: #3c5aa6;
  --Pokemon-Card-Stats: rgb(250, 250, 250);
  --Transparent: rgba(238, 238, 238, 0.400);

  /* Pokemon Stats Bar Colors */
  --Red-Bar: #FF1602;
  --Green-Bar: #66923D;
  --Blue-Bar: #2226EA;

  /* 1rem = 10px */
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: var(--Page-Background-Light);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}